.clicker-img-container {
  position: relative;
  padding: 5px;
  height: 400px;
  width: 300px;
  overflow: hidden;
  user-select: none;
}

.clicker-image {
  border: 2px solid #000;
  border-radius: 25px;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.clicker-value {
  position: absolute;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 20px;
  font-weight: bold;
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
