<div class="upgrade-main-container">
  <div class="tabs-change-wrapper">
    <button class="tab-button" (click)="tabNumber=0">Adventures</button>
    <button class="tab-button" (click)="tabNumber=1">Shop</button>
  </div>
  <div class="tab-switch" [ngSwitch]="tabNumber">
    <div class="tab" *ngSwitchCase="0">
      <span
        *ngFor="let upgrade of this.upgrade$ | async"
        class="upgrade-items-span"
      >
        <button class="upgrade-button" (click)="onUpgradeClick(upgrade)" [disabled]="!upgrade.isAvailable">
          <app-upgrade-item
            name="{{upgrade.name}}"
            icon="{{upgrade.icon}}"
            cost="{{upgrade.cost}}"
          >
          </app-upgrade-item>
        </button>
      </span>
    </div>
    <div class="tab" *ngSwitchCase="1">
      <div class="item-container">
        <span
          *ngFor="let item of items$ | async"
          class="items"
        >
          <div class="item-upgrade-wrapper">
            <app-item
              [item]="item"
              (mouseover)="onHoverItem($event, item)"
              (mouseleave)="hideTooltip()"
            ></app-item>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
<app-tooltip
  *ngIf="isTooltipActive"
  [name]="tooltipName"
  [description]="tooltipDescription"
  [position]="tooltipPosition"
></app-tooltip>
